<main class="flex">
  <%= render 'shared/side_bar' %>

  <section class="flex flex-col w-full">

    <div class="flex flex-col">
      <%= render 'dashboard/components/title' %>
    </div>

    <div class="flex gap-10 px-10">
      <section class="flex flex-col w-2/6">
        <%= render 'dashboard/components/books_section' %>
      </section>

      <section class="flex flex-col w-4/6">
        <%= render 'dashboard/components/days_section' %>
        <%= render 'dashboard/components/earnings_section' %>
      </section>
    </div>
  </section>

</main>
