<%= turbo_stream_from "books_custom_channel" %>
<%= turbo_stream_from "sells_custom_channel" %>
<main class="flex flex-col">
  <%= render 'shared/side_bar' %>

  <section class="flex flex-col w-full">

    <div class="flex">
      <%= render 'dashboard/components/title' %>
    </div>

    <div class="flex gap-3 m-5 p-5 rounder border border-gray-600 rounded-lg shadow-lg shadow-white/20">
      <%= render 'dashboard/components/days_section' %>
      <%= render 'dashboard/components/earnings_section' %>
      <%= render 'dashboard/components/books_section' %>
    </div>
  </section>

</main>
