<nav class="w-full flex bg-black items-center p-5 justify-between fixed">
  <div class="flex gap-5 items-center">
    <%= image_tag('book.png', class: 'w-10') %>
    <h3 class="font-bold text-lg text-white">The Bookstore Dashboard</h3>
  </div>

  <div class="flex gap-5">
    <%= turbo_frame_tag 'add_sell', class: 'flex items-center justify-center' do %>
      <%= link_to new_sell_path, id: 'add_sell_link', class: 'text-white font-semibold text-sm text-center bg-green-700 text-white rounded px-4 py-2' do %>
        Add sell
      <% end %>
    <% end %>

    <%= turbo_frame_tag 'add_new_book', class: 'flex items-center justify-center' do %>
      <%= link_to new_book_path, id: 'add_new_book_link', class: 'text-white font-semibold text-sm text-center bg-sky-700 text-white rounded px-4 py-2' do %>
        Add a new book
      <% end %>
    <% end %>
  </div>
</nav>
